.montage-Textarea {outline: none; box-sizing: border-box; font-size: 12px; width: 150px; min-width: 10em; padding: 0.5em; resize: vertical; border: 1px solid #b3b3b3; border-radius: 3px; background-color: #fff;}
.montage-Textarea:hover {border-color: #ccc;}
.montage-Textarea:focus {border-color: #7f7f7f;}
.montage-Textarea:disabled {opacity: .5; border-style: dashed; pointer-events: none;}
