.montage-Select {-webkit-appearance: none; -moz-appearance: none; outline: none; box-sizing: border-box; font-size: 12px; height: 2.5em; padding: 0 2em 0 1em; border-radius: 3px; border: 1px solid #b3b3b3; background: #f2f2f2 url(select.png) no-repeat right center; cursor: pointer;}
.montage-Select:hover {background-color: #fff;}
.montage-Select:active {background-color: #e5e5e5;}
.montage-Select:focus {border-color: #7f7f7f;}
.montage-Select:disabled {opacity: .5; border-style: dashed; pointer-events: none;}
.montage-Select[multiple] {height: 5.5em; cursor: default; padding: 0 .5em;}
.montage-Select[multiple],
.montage-Select[multiple]:hover,
.montage-Select[multiple]:active {background: #f2f2f2;}
